# fly.toml app configuration file generated for search-aurora-backend on 2025-11-27T17:12:04-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'search-aurora-backend'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
